# Environment & secrets
.env
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

#Documentation
docs/

#Evaluation

eval_results/
